<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/partials/footer.css">
    <title>footer</title>
</head>
<body>
    <footer> 
        <div class="footer-content">
            <h2>Made with ❤ by : Developers</h2>
            <div class="git">
                <h3>Repo Link :-</h3>
                <a href="https://github.com/DSCKGEC/Leucos.git" target="_blank">
                    <img src="../../static/img/gitlogo.jpg" alt="">
                </a>
            </div>
        </div>
    </footer>
</body>
</html>