<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hero section</title>
    <link rel="stylesheet" href="../../static/css/partials/hero.css" />
  </head>
  <body>
    <section class="Hero-section section">
        <!-- Entire Hero container -->
      <div class="Hero-container container">
        <!-- Heading section -->
        <div class="Heading">
          <span class="Heading-sec">One Click.</span> Zero Friction
        </div>
        <!-- Description section -->
        <div class="description">
          Leucos is an instant messaging tool taht connects prospects directly
          to your friends.
        </div>
        <!-- Hero image -->
        <div class="image">
          <img class="Texting-hero" src="Texting-hero.png" alt="" />
        </div>
      </div>
    </section>
  </body>
</html>
