<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/chat.css">
    <title>Chatroom</title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
</head>

<body>
    <div class="container">
        <header>
            <div class="header-logo">
                <img src="/static/img/logo.png" alt="">
            </div>
            <div class="header-text"><b>Wooz</b></div>
            <a href="/" class="leave-room">Leave Room</a>
        </header>
        <main>
            <aside>
                <div class="room">
                    <div class="room-name-div">
                        <img src="/static/img/chatroom.png" alt="">
                        Room Name
                    </div>
                    <div id="room-name"></div>
                </div>
                <div class="user">
                    <div class="user-name-div">
                        <img src="/static/img/users.png" alt="">
                        Users
                    </div>
                    <ul id="users">
                    </ul>
                </div>
            </aside>
            <section id="putHere">                
            </section>
        </main>
        <div class="chat-send-box">
            <form id="chat-form">
                <input id="msg" type="text" placeholder="Enter Message" required autocomplete="off" />
                <button class="send-btn">
                    <img src="/static/img/msg-send.png" alt="">
                    Send
                </button>
            </form>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js" integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/static/js/client.js"></script>

</body>

</html>