<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <title>Leucos</title>
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"></script>
  </head>

  <body>
    <section id="header">
      <div class="header-logo">
        <img src="../static/img/logo.png" alt="" />
      </div>
      <div class="header-text"><b>Leucos</b></div>
      <ul id="navbar">
        <li><a class="active" href="#hero">Home</a></li>
        <li><a href="#feature">Features</a></li>
        <li><a href="#review">Reviews</a></li>
      </ul>
    </section>

    <section id="hero">
      <div class="hero-text">
        <h3>Enjoy group chat with friends!</h3>
        <h2>That's <span class="hero">Leucos</span> for you</h2>
        <a href="#chat">
          <button class="btn1">Join Chat</button>
        </a>
      </div>
      <div class="hero-img">
        <img src="../static/img/hero2.png" alt="" />
      </div>
    </section>

    <section id="feature">
      <div class="box-1">
        <div class="box1-text">
          <h3>Connect Grow & Inspire</h3>
          <p>
            Leucos is organized into topic-based channels where you can connect,
            share, and just talk where you can belong to a school club, a gaming
            group, or a worldwide programming community where just you and a
            handful of friends can spend time together.
          </p>
        </div>
        <div class="box1-img">
          <img src="../static/img/hfc-visit-increase.svg" alt="" />
        </div>
      </div>
      <div class="box-2">
        <div class="box2-img">
          <img src="../static/img/images.png" alt="" />
        </div>
        <div class="box2-text">
          <h3>Communicate with your team effectively</h3>
          <p>
            With Leucos, you can reach your teammate easily and stay connected
            with them. This is a place that makes it easy to talk without any
            disturbance.It is an ideal online support service because of its
            real-time interactions.
          </p>
        </div>
      </div>
    </section>

    <section id="chat">
      <div class="container">
        <header>
          <div class="header-logo">
            <img src="../static/img/logo.png" alt="" />
          </div>
          <div class="header-text"><b>Leucos</b></div>
        </header>
        <section class="section-container">
          <form action="/chatroom" style="width: 400px; margin-top: 25px">
            <div class="form-control">
              <label for="username">Username</label>
              <input
                type="text"
                name="username"
                id="username"
                placeholder="  Enter username..."
                required
                autocomplete="off"
              />
            </div>
            <div class="form-control">
              <label for="room">Room</label>
              <select name="room" id="room" required>
                <option value="">Select a room</option>
                <option value="General">General</option>
                <option value="Games">Games</option>
                <option value="Movies">Movies</option>
                <option value="Music">Music</option>
                <option value="Code">Code</option>
                <option value="DSA">DSA</option>
              </select>
            </div>
            <button type="submit" class="btn">
              <a href="../views/chat.ejs"> Join Chat</a>
            </button>
          </form>
        </section>
        <img class="send" src="../static/img/send.svg" alt="" />
      </div>
    </section>

    <section id="review">
      <h2>Our Happy Users</h2>
      <div class="review-con">
        <figure class="snip1533">
          <figcaption>
            <blockquote>
              <p>
                If you do the job badly enough, sometimes you don't get asked to
                do it again.
              </p>
            </blockquote>
            <h3>Wisteria Ravenclaw</h3>
            <h4>Google Inc.</h4>
          </figcaption>
        </figure>
        <figure class="snip1533">
          <figcaption>
            <blockquote>
              <p>
                I'm killing time while I wait for life to shower me with meaning
                and happiness.
              </p>
            </blockquote>
            <h3>Ursula Gurnmeister</h3>
            <h4>Facebook</h4>
          </figcaption>
        </figure>
        <figure class="snip1533">
          <figcaption>
            <blockquote>
              <p>
                The only skills I have the patience to learn are those that have
                no real application in life.
              </p>
            </blockquote>
            <h3>Ingredia Nutrisha</h3>
            <h4>Twitter</h4>
          </figcaption>
        </figure>
      </div>
    </section>

    <section id="footer">
      <div class="footer-text">Made with ❤ by : Developers</div>
    </section>
    <!-- <svg id="first" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path
        fill="#5000ca"
        fill-opacity="1"
        d="M0,256L30,261.3C60,267,120,277,180,261.3C240,245,300,203,360,170.7C420,139,480,117,540,144C600,171,660,245,720,234.7C780,224,840,128,900,80C960,32,1020,32,1080,48C1140,64,1200,96,1260,101.3C1320,107,1380,85,1410,74.7L1440,64L1440,0L1410,0C1380,0,1320,0,1260,0C1200,0,1140,0,1080,0C1020,0,960,0,900,0C840,0,780,0,720,0C660,0,600,0,540,0C480,0,420,0,360,0C300,0,240,0,180,0C120,0,60,0,30,0L0,0Z"
      ></path>
    </svg>
    <svg
      height="100"
      width="100"
      style="position: absolute; top: 0px; left: 0px"
    >
      <circle cx="10" cy="10" r="90" fill="#99FEFF" />
    </svg>
    <img id="groupchat" src="/static/img/groupchat.svg" alt="" />
    <div class="text">
      <svg
        id="title"
        width="375"
        height="85"
        viewBox="-2.5 -2.5 375 85"
        stroke-width="3"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M2.97 0 19.35 1.62Q18.45 8.55 17.775 15.795A522.654 522.654 0 0016.707 29.023 477.592 477.592 0 0016.65 29.88Q16.2 36.72 15.93 42.3A1203.324 1203.324 0 0015.803 44.975Q15.632 48.69 15.532 51.433A417.188 417.188 0 0015.525 51.615 560.664 560.664 0 0015.472 53.122Q15.409 55.009 15.395 55.945A31.509 31.509 0 0015.39 56.43 22.164 22.164 0 0015.447 58.077Q15.568 59.698 15.948 60.754A5.156 5.156 0 0016.11 61.155Q16.798 62.659 18.799 63.219A7.077 7.077 0 0018.99 63.27 13.89 13.89 0 0020.447 63.543Q22.065 63.767 24.369 63.803A58.41 58.41 0 0025.29 63.81 96.38 96.38 0 0030.48 63.662Q33.59 63.494 37.08 63.135 43.65 62.46 50.4 61.11 57.15 59.76 62.73 57.87L66.24 73.35Q60.12 74.88 53.055 76.14 45.99 77.4 38.97 78.12A142.352 142.352 0 0131.386 78.702 112.369 112.369 0 0125.92 78.84 84.931 84.931 0 0120.712 78.691Q15.6 78.376 12.091 77.396A24.199 24.199 0 0111.79 77.31 25.039 25.039 0 018.655 76.175Q7.063 75.466 5.835 74.594A11.279 11.279 0 014.05 73.035Q1.53 70.29.765 66.555A37.624 37.624 0 01.09 61.401 45.534 45.534 0 010 58.5 307.202 307.202 0 01.078 51.804Q.177 47.244.405 42.03.81 32.76 1.485 22.095A2863.409 2863.409 0 012.573 5.667 3176.859 3176.859 0 012.97 0Z"
          stroke="#e32dbc"
        />
        <path
          d="M119.34 57.24 127.35 68.76A109.276 109.276 0 01124.301 71.145 139.033 139.033 0 01120.915 73.62 27.517 27.517 0 01116.762 76.024Q114.691 77.004 112.268 77.793A44.543 44.543 0 01112.23 77.805 30.657 30.657 0 01107.661 78.883Q105.277 79.268 102.525 79.401A62.158 62.158 0 0199.54 79.47 37.466 37.466 0 0191.666 78.678 29.068 29.068 0 0184.375 76.095Q77.85 72.72 74.205 66.69A25.311 25.311 0 0170.747 56.232 31.857 31.857 0 0170.56 52.74 31.568 31.568 0 0171.225 46.425 39.513 39.513 0 0172.18 42.705 30.259 30.259 0 0177.177 33.138 34.277 34.277 0 0177.4 32.85 25.508 25.508 0 0184.049 26.953 31.468 31.468 0 0186.895 25.38 26.868 26.868 0 0193.431 23.22Q96.347 22.635 99.686 22.525A47.633 47.633 0 01101.25 22.5Q105.936 22.5 109.487 23.291A23.107 23.107 0 01111.555 23.85Q115.74 25.2 118.395 27.36A19.837 19.837 0 01120.607 29.444 14.583 14.583 0 01122.445 31.95 20.007 20.007 0 01123.555 34.179Q124.072 35.414 124.335 36.585A26.973 26.973 0 01124.596 37.888Q124.83 39.24 124.83 40.23 124.83 48.96 117.495 53.685 110.16 58.41 96.75 58.41A62.343 62.343 0 0192.691 58.282 53.339 53.339 0 0190.945 58.14Q88.2 57.87 85.86 57.51 87.57 62.01 91.53 64.125A17.558 17.558 0 0097.622 66.108 16.633 16.633 0 0099.72 66.24 28.905 28.905 0 00105.311 65.723 22.265 22.265 0 00110.52 64.035 25.26 25.26 0 00115.887 60.576 33.431 33.431 0 00119.34 57.24ZM101.52 36A17.69 17.69 0 0095.963 36.848 15.62 15.62 0 0092.16 38.7Q88.11 41.4 86.22 45.81 88.47 46.17 90.675 46.395 92.88 46.62 95.04 46.62 96.742 46.62 98.875 46.354A46.301 46.301 0 0099.585 46.26Q102.15 45.9 104.625 45.18A17.778 17.778 0 00106.561 44.5Q107.783 43.985 108.72 43.335 109.877 42.531 110.208 41.521A2.687 2.687 0 00110.34 40.68 1.892 1.892 0 00110.262 40.169Q110.127 39.687 109.753 39.087A7.792 7.792 0 00109.62 38.88 3.979 3.979 0 00108.934 38.111Q108.217 37.48 107.047 36.918A13.076 13.076 0 00107.01 36.9 7.536 7.536 0 00105.547 36.397Q103.911 36 101.52 36Z"
          stroke="#ab6cfd"
        />
        <path
          d="M134.91 24.3 151.38 23.31 150.57 28.98Q150.106 32.228 149.708 36.274A240.395 240.395 0 00149.58 37.62Q149.13 42.48 149.13 47.79 149.13 54.921 150.151 59.02A16.615 16.615 0 00150.66 60.705 10.536 10.536 0 00151.461 62.437Q151.981 63.318 152.616 63.883A3.842 3.842 0 00155.25 64.89 7.501 7.501 0 00161.243 61.912Q162.293 60.639 163.145 58.821A24.356 24.356 0 00164.25 55.98 43.522 43.522 0 00165.642 50.149Q166.752 43.81 167.034 34.495A221.471 221.471 0 00167.13 27.81L167.13 23.67 174.78 23.49 184.05 23.31Q182.79 31.77 182.16 38.88A365.956 365.956 0 00181.873 42.292Q181.485 47.194 181.35 50.805A611.01 611.01 0 00181.28 52.759Q181.17 55.974 181.17 57.24 181.17 60.425 181.596 62.198A6.452 6.452 0 00181.89 63.135 3.308 3.308 0 00182.421 64.032Q183.083 64.81 184.179 64.882A3.485 3.485 0 00184.41 64.89Q185.254 64.89 186.256 64.574A8.898 8.898 0 00186.39 64.53 8.333 8.333 0 00187.251 64.184Q187.678 63.986 188.149 63.722A18.656 18.656 0 00188.91 63.27L188.28 78.75A51.148 51.148 0 01185.65 79.1Q184.403 79.231 183.306 79.271A25.946 25.946 0 01182.34 79.29 18.957 18.957 0 01179.438 79.081Q177.86 78.836 176.56 78.305A9.868 9.868 0 01175.275 77.67Q172.53 76.05 170.91 73.35A18.866 18.866 0 01165.151 77.491 22.235 22.235 0 01164.025 77.985 21.458 21.458 0 01159.555 79.23Q157.451 79.591 155.053 79.642A37.499 37.499 0 01154.26 79.65 26.942 26.942 0 01150.244 79.368Q148.136 79.05 146.387 78.372A14.045 14.045 0 01144.765 77.625Q141.03 75.6 138.825 72.09A25.422 25.422 0 01135.937 65.558 29.285 29.285 0 01135.585 64.215 55.204 55.204 0 01134.245 55.273 60.248 60.248 0 01134.235 55.125 141.149 141.149 0 01133.94 48.215 126.831 126.831 0 01133.92 45.99Q133.92 40.95 134.235 35.73A4268.546 4268.546 0 00134.561 30.263 5534.994 5534.994 0 00134.91 24.3Z"
          stroke="#7617f2"
        />
        <path
          d="M247.77 36.63 235.26 45.27Q233.333 42.172 231.352 40.207A16.354 16.354 0 00230.13 39.105 8.883 8.883 0 00226.936 37.486Q225.634 37.114 224.082 37.021A17.749 17.749 0 00223.02 36.99 14.233 14.233 0 00218.273 37.751 12.199 12.199 0 00213.12 41.265 14.577 14.577 0 00209.872 47.716Q209.357 49.913 209.341 52.484A26.556 26.556 0 00209.34 52.65 13.87 13.87 0 00209.625 55.54Q210.099 57.769 211.365 59.4 213.39 62.01 216.36 63.27A17.243 17.243 0 00218.978 64.153Q220.513 64.53 221.94 64.53 224.64 64.53 227.16 63.855A9.033 9.033 0 00229.91 62.569Q230.881 61.908 231.807 60.967A15.433 15.433 0 00231.93 60.84Q234.18 58.5 235.98 53.73L249.48 60.93Q246.78 65.88 243.45 70.11 240.12 74.34 235.215 76.95A20.582 20.582 0 01230.129 78.802Q227.755 79.347 224.981 79.5A40.435 40.435 0 01222.75 79.56 31.653 31.653 0 01211.444 77.56 30.044 30.044 0 01208.8 76.41Q202.41 73.26 198.54 67.365A23.391 23.391 0 01195.011 57.941 30.795 30.795 0 01194.67 53.28 39.648 39.648 0 01195.515 44.915 30.783 30.783 0 01198.27 37.17Q201.87 30.24 208.35 26.415 214.83 22.59 223.47 22.59A33.987 33.987 0 01229.782 23.147Q233.821 23.91 237.079 25.719A21.383 21.383 0 01237.51 25.965Q242.834 29.085 247.082 35.549A45.291 45.291 0 01247.77 36.63Z"
          stroke="#6995f1"
        />
        <path
          d="M276.004 79.17A37.405 37.405 0 00282.15 79.65 47.547 47.547 0 00283.476 79.632Q288.063 79.504 291.921 78.48A24.378 24.378 0 00303.21 72.135 23.142 23.142 0 00305.602 69.31Q308.587 65.151 309.817 59.565A39.68 39.68 0 00310.68 51.03 33.073 33.073 0 00310.646 49.514 28.381 28.381 0 00308.475 39.69Q306.27 34.47 302.31 30.6 298.35 26.73 293.04 24.57A28.292 28.292 0 00289.971 23.523 31.35 31.35 0 00281.52 22.41 32.238 32.238 0 00279.686 22.462 27.497 27.497 0 00270.54 24.525Q265.5 26.64 261.765 30.42 258.03 34.2 255.915 39.285 253.8 44.37 253.8 50.31 253.8 56.16 255.51 61.47 257.22 66.78 260.73 70.875A22.843 22.843 0 00263.232 73.373 25.304 25.304 0 00269.595 77.31 27.046 27.046 0 00276.004 79.17ZM282.06 65.07A18.669 18.669 0 00286.037 64.673Q288.543 64.126 290.416 62.828A10.512 10.512 0 00292.095 61.38Q295.036 58.249 295.481 52.784A24.94 24.94 0 00295.56 50.76Q295.56 44.55 291.78 40.77A12.722 12.722 0 00284.314 37.152 17.688 17.688 0 00281.88 36.99Q278.19 36.99 275.13 38.925 272.07 40.86 270.225 44.055 268.38 47.25 268.38 51.12 268.38 54.54 269.775 57.78 271.17 61.02 274.23 63.045A11.571 11.571 0 00277.933 64.618Q279.454 64.985 281.228 65.054A21.43 21.43 0 00282.06 65.07Z"
          stroke="#3dbaf2"
        />
        <path
          d="M315.81 69.84 323.91 56.79A44.865 44.865 0 00327.166 59.551Q329.226 61.127 331.2 62.19 334.71 64.08 338.535 64.8A41.448 41.448 0 00343.514 65.414 51.623 51.623 0 00346.86 65.52 23.619 23.619 0 00349.288 65.403Q351.516 65.172 353.07 64.485 354.234 63.97 354.819 63.31A2.179 2.179 0 00355.41 61.83Q355.41 60.48 353.16 59.715 351.533 59.162 349.247 58.703A56.933 56.933 0 00347.4 58.365 113.093 113.093 0 01342.404 57.412 133.309 133.309 0 01340.02 56.88 93.389 93.389 0 01332.5 54.578 80.299 80.299 0 01329.76 53.55 23.096 23.096 0 01325.511 51.362 17.966 17.966 0 01322.065 48.42 11.007 11.007 0 01319.519 43.387 16.233 16.233 0 01319.14 39.78 15.284 15.284 0 01319.724 35.482 12.999 12.999 0 01321.21 32.175 17.529 17.529 0 01326.53 26.824 20.19 20.19 0 01326.745 26.685 25.189 25.189 0 01332.605 23.968 29.805 29.805 0 01334.62 23.4Q339.03 22.32 343.71 22.32A67.657 67.657 0 01343.836 22.32Q350.914 22.333 356.301 23.83A31.804 31.804 0 01357.705 24.255Q363.6 26.19 369 29.34L360.81 41.76Q358.11 39.87 354.645 38.475 351.18 37.08 347.715 36.315A34.301 34.301 0 00344.374 35.741 26.226 26.226 0 00341.28 35.55 17.269 17.269 0 00339.391 35.647Q338.431 35.753 337.635 35.975A7.028 7.028 0 00336.195 36.54 4.3 4.3 0 00335.262 37.199 2.821 2.821 0 00334.35 39.33 1.197 1.197 0 00334.634 40.073Q335.154 40.739 336.63 41.349A12.172 12.172 0 00336.645 41.355Q338.94 42.3 345.42 43.83 349.29 44.73 353.61 45.675A44.042 44.042 0 01361.275 48.08 40.735 40.735 0 01361.755 48.285 15.867 15.867 0 01366.507 51.42 14.893 14.893 0 01367.965 53.055 10.923 10.923 0 01369.843 56.991Q370.254 58.559 370.332 60.409A20.961 20.961 0 01370.35 61.29 17.196 17.196 0 01369.139 67.86Q367.453 71.98 363.42 74.835 357.982 78.684 349.22 79.513A53.79 53.79 0 01344.16 79.74 45.647 45.647 0 01336.883 79.181 38.089 38.089 0 01332.82 78.3 49.609 49.609 0 01326.682 76.184 41.348 41.348 0 01323.37 74.61 61.157 61.157 0 01318.549 71.768 49.758 49.758 0 01315.81 69.84Z"
          stroke="#44e5ff"
        />
      </svg> -->
    <!-- <br />
      Enjoy group chat with friends ! <br />
      That's Leucos for you
    </div> -->
    <!-- <img class="send" src="/static/img/send.svg" alt="" />
    <div class="container">
      <header>
        <div class="header-logo">
          <img src="/static/img/logo.png" alt="" />
        </div>
        <div class="header-text"><b>Leucos</b></div>
      </header>
      <section class="section-container">
        <form action="/chatroom">
          <div class="form-control">
            <label for="username">Username</label>
            <input
              type="text"
              name="username"
              id="username"
              placeholder="       Enter username..."
              required
              autocomplete="off"
            />
          </div>
          <div class="form-control">
            <label for="room">Room</label>
            <select name="room" id="room" required>
              <option value="">Select a room</option>
              <option value="General">General</option>
              <option value="Games">Games</option>
              <option value="Movies">Movies</option>
              <option value="Music">Music</option>
              <option value="Code">Code</option>
              <option value="DSA">DSA</option>
            </select>
          </div>
          <button type="submit" class="btn">Join Chat</button>
        </form>
      </section>
    </div>
    <footer>Made with ❤ by : Soujanya Hazra</footer> -->
    <!-- <svg
      id="wave"
      style="transform: rotate(0deg); transition: 0.3s"
      viewBox="0 0 1440 160"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
    >
      <defs>
        <linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0">
          <stop stop-color="rgba(153, 254, 255, 1)" offset="0%"></stop>
          <stop stop-color="rgba(100, 20, 204, 1)" offset="100%"></stop>
        </linearGradient>
      </defs>
      <path
        style="transform: translate(0, 0px); opacity: 1"
        fill="url(#sw-gradient-0)"
        d="M0,144L60,141.3C120,139,240,133,360,122.7C480,112,600,96,720,80C840,64,960,48,1080,42.7C1200,37,1320,43,1440,37.3C1560,32,1680,16,1800,13.3C1920,11,2040,21,2160,26.7C2280,32,2400,32,2520,32C2640,32,2760,32,2880,42.7C3000,53,3120,75,3240,72C3360,69,3480,43,3600,50.7C3720,59,3840,101,3960,122.7C4080,144,4200,144,4320,141.3C4440,139,4560,133,4680,125.3C4800,117,4920,107,5040,98.7C5160,91,5280,85,5400,80C5520,75,5640,69,5760,72C5880,75,6000,85,6120,96C6240,107,6360,117,6480,104C6600,91,6720,53,6840,45.3C6960,37,7080,59,7200,77.3C7320,96,7440,112,7560,101.3C7680,91,7800,53,7920,53.3C8040,53,8160,91,8280,112C8400,133,8520,139,8580,141.3L8640,144L8640,160L8580,160C8520,160,8400,160,8280,160C8160,160,8040,160,7920,160C7800,160,7680,160,7560,160C7440,160,7320,160,7200,160C7080,160,6960,160,6840,160C6720,160,6600,160,6480,160C6360,160,6240,160,6120,160C6000,160,5880,160,5760,160C5640,160,5520,160,5400,160C5280,160,5160,160,5040,160C4920,160,4800,160,4680,160C4560,160,4440,160,4320,160C4200,160,4080,160,3960,160C3840,160,3720,160,3600,160C3480,160,3360,160,3240,160C3120,160,3000,160,2880,160C2760,160,2640,160,2520,160C2400,160,2280,160,2160,160C2040,160,1920,160,1800,160C1680,160,1560,160,1440,160C1320,160,1200,160,1080,160C960,160,840,160,720,160C600,160,480,160,360,160C240,160,120,160,60,160L0,160Z"
      ></path>
      <defs>
        <linearGradient id="sw-gradient-1" x1="0" x2="0" y1="1" y2="0">
          <stop stop-color="rgba(95.594, 62, 243, 1)" offset="0%"></stop>
          <stop stop-color="rgba(255, 11, 164.426, 1)" offset="100%"></stop>
        </linearGradient>
      </defs>
      <path
        style="transform: translate(0, 50px); opacity: 0.9"
        fill="url(#sw-gradient-1)"
        d="M0,80L60,66.7C120,53,240,27,360,26.7C480,27,600,53,720,56C840,59,960,37,1080,48C1200,59,1320,101,1440,114.7C1560,128,1680,112,1800,109.3C1920,107,2040,117,2160,104C2280,91,2400,53,2520,32C2640,11,2760,5,2880,2.7C3000,0,3120,0,3240,10.7C3360,21,3480,43,3600,66.7C3720,91,3840,117,3960,122.7C4080,128,4200,112,4320,104C4440,96,4560,96,4680,88C4800,80,4920,64,5040,64C5160,64,5280,80,5400,88C5520,96,5640,96,5760,80C5880,64,6000,32,6120,40C6240,48,6360,96,6480,96C6600,96,6720,48,6840,48C6960,48,7080,96,7200,106.7C7320,117,7440,91,7560,85.3C7680,80,7800,96,7920,90.7C8040,85,8160,59,8280,64C8400,69,8520,107,8580,125.3L8640,144L8640,160L8580,160C8520,160,8400,160,8280,160C8160,160,8040,160,7920,160C7800,160,7680,160,7560,160C7440,160,7320,160,7200,160C7080,160,6960,160,6840,160C6720,160,6600,160,6480,160C6360,160,6240,160,6120,160C6000,160,5880,160,5760,160C5640,160,5520,160,5400,160C5280,160,5160,160,5040,160C4920,160,4800,160,4680,160C4560,160,4440,160,4320,160C4200,160,4080,160,3960,160C3840,160,3720,160,3600,160C3480,160,3360,160,3240,160C3120,160,3000,160,2880,160C2760,160,2640,160,2520,160C2400,160,2280,160,2160,160C2040,160,1920,160,1800,160C1680,160,1560,160,1440,160C1320,160,1200,160,1080,160C960,160,840,160,720,160C600,160,480,160,360,160C240,160,120,160,60,160L0,160Z"
      ></path>
      <defs>
        <linearGradient id="sw-gradient-2" x1="0" x2="0" y1="1" y2="0">
          <stop stop-color="rgba(243, 62, 230.993, 1)" offset="0%"></stop>
          <stop stop-color="rgba(11, 230.204, 255, 1)" offset="100%"></stop>
        </linearGradient>
      </defs>
      <path
        style="transform: translate(0, 100px); opacity: 0.8"
        fill="url(#sw-gradient-2)"
        d="M0,0L60,2.7C120,5,240,11,360,32C480,53,600,91,720,98.7C840,107,960,85,1080,69.3C1200,53,1320,43,1440,42.7C1560,43,1680,53,1800,69.3C1920,85,2040,107,2160,96C2280,85,2400,43,2520,34.7C2640,27,2760,53,2880,77.3C3000,101,3120,123,3240,130.7C3360,139,3480,133,3600,130.7C3720,128,3840,128,3960,114.7C4080,101,4200,75,4320,64C4440,53,4560,59,4680,66.7C4800,75,4920,85,5040,96C5160,107,5280,117,5400,112C5520,107,5640,85,5760,64C5880,43,6000,21,6120,34.7C6240,48,6360,96,6480,96C6600,96,6720,48,6840,26.7C6960,5,7080,11,7200,21.3C7320,32,7440,48,7560,56C7680,64,7800,64,7920,64C8040,64,8160,64,8280,58.7C8400,53,8520,43,8580,37.3L8640,32L8640,160L8580,160C8520,160,8400,160,8280,160C8160,160,8040,160,7920,160C7800,160,7680,160,7560,160C7440,160,7320,160,7200,160C7080,160,6960,160,6840,160C6720,160,6600,160,6480,160C6360,160,6240,160,6120,160C6000,160,5880,160,5760,160C5640,160,5520,160,5400,160C5280,160,5160,160,5040,160C4920,160,4800,160,4680,160C4560,160,4440,160,4320,160C4200,160,4080,160,3960,160C3840,160,3720,160,3600,160C3480,160,3360,160,3240,160C3120,160,3000,160,2880,160C2760,160,2640,160,2520,160C2400,160,2280,160,2160,160C2040,160,1920,160,1800,160C1680,160,1560,160,1440,160C1320,160,1200,160,1080,160C960,160,840,160,720,160C600,160,480,160,360,160C240,160,120,160,60,160L0,160Z"
      ></path>
    </svg>
    <script>
      anime({
        targets: "#title path",
        strokeDashoffset: [anime.setDashoffset, 0],
        easing: "easeInOutSine",
        duration: 2250,
        delay: 250,
        direction: "alternate",
        loop: false,
      });
    </script> -->
  </body>
</html>
