@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
:root {
    --dark-1:#ab6cfd;
    --dark-2:#6414cc;
    --text:#08e1e9;
    --mid-1:#94B3FD;
    --mid-2:#94DAFF;
    --light:#99FEFF;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
    position: relative;
    overflow-y: hidden;
}

.container{
    position: absolute;
    top: 8rem;
    right: 5rem;
    width: 30vw;
    height: 50vh;
    background-color: var(--dark-1);
}

.text{
    color: var(--text);
    font-weight: 700;
    font-size: 40px;
    position: absolute;
    top: 15vh;
    left: 30px;
    font-family: 'Mochiy Pop P One', sans-serif;
}

#groupchat{
    width: 30vw;
    height: 30vh;
    margin-left: 1rem;
}

header{
    background-color: var(--dark-2);
    height: 60px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-text{
    margin-left: 0.2rem;
    color: var(--mid-2);
    font-family: 'Mochiy Pop P One', sans-serif;
}
.header-logo img{
    width: 35px;
    height: 35px;
}
.section-container{
    display: flex;
    justify-content: center;
    height: 80%;
}

.send{
    position: absolute;
    top: 56vh;
    left: 61vw;
    width: 130px;
    height: 130px;
    z-index: 5;
}

.section-container label {
	display: block;
    margin-top: 0.8rem;
    margin-bottom: 0.2rem;
}

.section-container input[type='text'] {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
    outline: none;
    border:none;
}

.section-container select {
	font-size: 16px;
	padding: 5px;
	height: 40px;
	width: 100%;
    outline: none;

}

.section-container .btn {
	margin-top: 30px;
	width: 100%;
    height: 35px;
    border: none;
    background-color: var(--dark-2);
    color: var(--light);
    cursor: pointer;
    font-weight: 700;
}

.section-container .btn:hover {
    background-color: var(--mid-2);
    color: var(--dark-2);
    transition: 0.3s ease-in;
}

footer{
    position: absolute;
    bottom: 5px;
    right: 10px;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
    z-index: 5;
}